
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1494145259405'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1494145259405#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1494145259405') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1494145259405') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1494145259405#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-no:before { content: "\e641"; }

.icon-qr:before { content: "\e642"; }

.icon-heart-outline:before { content: "\e643"; }

.icon-dustbin:before { content: "\e645"; }

.icon-link:before { content: "\e646"; }

.icon-scan:before { content: "\e649"; }

.icon-arrow-down:before { content: "\e64a"; }

.icon-setting:before { content: "\e64b"; }

.icon-sound:before { content: "\e64c"; }

.icon-time:before { content: "\e64d"; }

.icon-locate:before { content: "\e64e"; }

.icon-home:before { content: "\e64f"; }

.icon-refresh:before { content: "\e650"; }

.icon-search:before { content: "\e651"; }

.icon-lock:before { content: "\e652"; }

.icon-warning:before { content: "\e653"; }

.icon-success:before { content: "\e654"; }

.icon-order:before { content: "\e655"; }

.icon-message-r:before { content: "\e656"; }

.icon-packet:before { content: "\e657"; }

.icon-me:before { content: "\e659"; }

.icon-coupon:before { content: "\e65a"; }

.icon-arrow-up:before { content: "\e65b"; }

.icon-xiala:before { content: "\e65c"; }

.icon-top:before { content: "\e65d"; }

.icon-bottom:before { content: "\e65e"; }

.icon-right:before { content: "\e65f"; }

.icon-left:before { content: "\e660"; }

.icon-eye:before { content: "\e661"; }

.icon-note:before { content: "\e662"; }

.icon-camera:before { content: "\e663"; }

.icon-yes:before { content: "\e664"; }

.icon-message:before { content: "\e665"; }

.icon-share:before { content: "\e666"; }

.icon-huo:before { content: "\e66c"; }

.icon-heart:before { content: "\e684"; }

.icon-gift:before { content: "\e685"; }

.icon-microphone:before { content: "\e687"; }

